body{
    background-color: black;
}
.headerDiv{
    position: sticky;
}
.headerTitle{
    color: beige;
}

.homeImgDiv{
    position: relative;
    height: 100vh;
    background-image: url('images/HomeImage.png');
    background-size: cover; /* This will make the image cover the entire container */
}
.homeImg{
    width: 100%;
    height: 100%;
}
.homeTitle{
    
    color: beige;
    font-size: 70px;
    font-family: serif;
    font: bolder;
    text-align: center;
}
.homewriting{
    font-size: 30px;
    font-family: serif;
    text-align: center;
}
.titletext{
    display: flex;
    flex-direction: column;
  
}

.introDiv{
    margin-top: 100px;
}

.personalPic{
    border-radius: 50%;
    height: 400px;
    width: 400px;
}
.introP{
    width: 50%;
    font-size: 20px;
}

h1,h2,h3,p{
    color: beige;
    font-family: serif;

}
.experienceWord{
    text-align: center;
}
hr{
    color: beige;
}
.pepsicoDiv, .codeAlphDiv, .cegedimDiv,.gucExpDiv{
    background-color: beige;
    width: 600px;
    height: auto;
    border-radius: 20px;

}

.locDate{
    color: black;
    white-space: pre-line;
    font-weight:bolder;
    margin-right: 15px;

}
.vertical-line {
    border-right: 1px solid black;
    height: 100%; 
  }
  
.summary{
    color: black;
}

.summaryDiv{
    width: 75%;;
}

.codeAlphaColon{
    margin-bottom: 5px;
    margin-top: 15px;
}

.codeAlphFlex,.cegedimFlex,.pepsicoFlex,.gucExpFlex{
    display: flex;
    gap: 5px;
    padding: 10px;

    background-color: beige;
    width: auto;
    max-width: 600px;
    height: auto;
    border-radius: 20px;
}

.pepsicoTitle,.codeAlphaTitle,.cegedimTitle,.gucExpTitle{
    color: beige;
}

.educationWord{
    text-align: center;
}
.educationFlex{
    display: flex;
}
.narmerDiv,.gucDiv{
    background-color: beige;
    width:400px;
    height: 150px;
    border-radius: 20px;

}

.gucFlex,.narmerFlex{
    display: flex;
    gap: 20px;
    padding: 10px;

    background-color: beige;
    width:auto;
    max-width: 400px;
    height: auto;
    max-height:150px ;
    border-radius: 20px;

}
.schoolDataP{
    color: black;
    white-space: pre-line;
}
.schoolName{
    font-size: large;
    font-weight:bolder;
}

.skillsTitle{
text-align: center;
}
.skillsDiv{

background-color: beige;
width: auto;
max-width: 600px;
height: auto;
}
.skill{
    color: black;
    background-color: #eed9c4;
    border-radius: 15%;
}
.footerWriting{
    color: beige;
}
.footerFlex{
    display: flex;
    justify-content: space-between;
}
.footerData{
    white-space: pre-line;
}
.CopyrightDiv{
    margin-left: 50px;
}
.ContactMeDiv{
    margin-right: 50px;
}
.headerH{
    border-bottom: 2px solid beige;
}
.navButtons{
    color: beige;
}
.navButtons:hover,
.navButtons:hover:active{
    color: black;
    background-color: beige;
}
.contactLinks{
    color: beige;
}

.pesicoBigFlex,.codeAlphaBigFlex,.cegedimBigFlex,.gucBigFlex,.gucSchoolBigFlex,.narmerBigFlex{
    display: flex;
    flex-direction: column;
}

@media(min-width: 900px){

    .codeAlphFlex,.cegedimFlex,.pepsicoFlex,.gucExpFlex{
        width: 600px;
    }
    .gucFlex,.narmerFlex{
        width: 400px;
        height: 150px;
    }

}